<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Es Critico?</title>
</head>
<body>
    <h1>Introduce Usuario para test</h1>
    <form method="post">
        <label for="username">Nombre:</label>
        <input type="text" id="username" name="username"><br>

        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono" name="telefono"><br>

        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" name="provincia"><br>

        <label for="permisos">Permisos:</label>
        <input type="text" id="permisos" name="permisos"><br>

        <label for="total">Total Correos:</label>
        <input type="text" id="total" name="total"><br>

        <label for="phishing">Phishing:</label>
        <input type="text" id="phishing" name="phishing"><br>

        <label for="clicados">Clicados:</label>
        <input type="text" id="clicados" name="clicados"><br>

        <label for="tipo">Evaluar según:</label>
        <select name="tipo" id="tipo">
        <option value="linearRegression">Regresión Linear</option>
        <option value="decisionTree">Arbol de Decisiones</option>
        <option value="randomForest">Bosque Aleatorio</option>
        </select>

        <input type="submit" value="Test">
    </form>
</body>
</html>
