<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clasificación de Usuario</title>
</head>
<body>
    <h1>Evaluar Usuario</h1>
    <form method="post">
        <label for="phishing_ratio">Phishing Ratio:</label>
        <input type="text" id="phishing_ratio" name="phishing_ratio"><br>
        <label for="clicked_ratio">Clicked Ratio:</label>
        <input type="text" id="clicked_ratio" name="clicked_ratio"><br>
        <label for="avg_daily_connections">Average Daily Connections:</label>
        <input type="text" id="avg_daily_connections" name="avg_daily_connections"><br>
        <label for="ip_diversity">IP Diversity:</label>
        <input type="text" id="ip_diversity" name="ip_diversity"><br>
        <input type="submit" value="Evaluar Usuario">
    </form>
</body>
</html>
